{% extends "base/base.html" %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center display-4 fst-italic rounded">Login</h1>
        <div class="container">
            <div class="col">
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        {{form.username}}
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="password" class="form-label">Password</label>
                            {{form.password}}
                        </div>
                    </div>
                    <div class="mb-3 text-center">
                        <input type="submit" value="Login" class="btn btn-lg" style="background-color: #007bff;">
                    </div>
                    <div class="text-center mt-1">
                        <div class="alert fs-3" role="alert">
                            Don't have an account? <a href="{% url 'account:register' %}" class="alert-link" style="color: #ffa200;">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
