{% extends "base/base.html" %}
{% block title %}
Register
{% endblock title %}
{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-8 mx-auto">
        <h1 class="text-center display-4 fst-italic rounded">Sign Up</h1>
        <div class="container">
            <div class="col">
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {% for key, val in form.errors.items %}
                    <div class="alert alert-danger">
                        {{val}}
                    </div>
                    {% endfor %}

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        {{form.email}}
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        {{form.username}}
                        <small id="usernameHelp" class="form-text text-muted">{{ form.username.help_text }}</small>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="password" class="form-label">Password</label>
                            {{form.password1}}
                        </div>
                        
                        <div class="col">
                            <label for="repassword" class="form-label">Re-Password</label>
                            {{form.password2}}
                        </div>
                        <small id="passwordHelp" class="form-text text-muted mt-3">{{ form.password1.help_text }}</small>
                    </div>
                    <div class="mb-3 text-center">
                        <input type="submit" value="Register" class="btn btn-lg" style="background-color: #ffa200;">
                    </div>
                    
                    <div class="mt-1">
                        <div class="alert fs-3" role="alert">
                            Have an account? <a href="{% url 'account:login' %}" class="alert-link">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
