<nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: #00ff00;">Online Pentest Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAnalyzer" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #00ff00;">
                        Analyzer Tools
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownAnalyzer">
                        <a class="dropdown-item" href="{% url 'analyzer:upload_eml' %}" style="color: #00ff00;">EML
                            Analyzer</a>
                        <a class="dropdown-item" href="{% url 'analyzer:upload_any_file' %}"
                            style="color: #00ff00;">File Content-Type</a>
                        <a class="dropdown-item" href="{% url 'analyzer:jwt' %}" style="color: #00ff00;">JWT Decoder</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownScanner" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #00ff00;">
                        Scanner Tools
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownScanner">
                        <a class="dropdown-item" href="{% url 'scanner:subdomain' %}" style="color: #00ff00;">Subdomain
                            Scanner</a>
                        <a class="dropdown-item" href="{% url 'scanner:scan_domain_dns' %}" style="color: #00ff00;">Scan
                            DNS</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat:index' %}" style="color: #00ff00">Chat</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:logout' %}" style="color: #ff0000;">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:profile' %}" style="color: #fffb00;">Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:login' %}" style="color: #007bff;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:register' %}" style="color: #ffa200;">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>