{% include "base/base.html" %}
{% block title %}
Analyzer
{% endblock title %}
{% block content %}

    <div class="container ">
        <div class="card" onclick="window.location.href='{% url 'analyzer:upload_eml' %}'">EML ANALYZER</div>
        <div class="card" onclick="window.location.href='{% url 'analyzer:upload_any_file' %}'">SHOW FILE CONTEN-TYPE
            etc.</div>
        <div class="card" onclick="window.location.href='{% url 'analyzer:jwt' %}'">JWT DECODER</div>

        <div class="card" onclick="window.location.href='{% url 'scanner:subdomain' %}'">SUBDOMAIN SCANNER</div>
    </div>
{% endblock content %}
