{% extends "base/base.html" %}
{% block content %}
{% include "base/alert.html" %}
<h2>Welcome, {{ request.user.username }}</h2>

<h3>Your Rooms</h3>
<ul>
    {% for room in user_rooms %}
    <li>
        <a href="{% url 'chat:room' url_path=room.url_path %}">{{ room.url_path }}</a>
    </li>
    {% empty %}
    <li>You have not created any rooms yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'chat:create_room' %}" class="btn btn-primary">Create New Room</a>
<a href="{% url 'chat:join_room' %}" class="btn btn-secondary">Join a Room</a>

<div class="container mt-4">
    <div class="alert bg-transparent border-2 border-warning text-danger alert-dismissible fade show small-alert" role="alert" style="max-width: 600px; margin: 0 auto;">
        <h6 class="alert-heading">Important Notice</h6>
        <p class="mb-1">By starting a chat, you agree to the following terms:</p>
        <ul>
            <li>This site is not responsible for the content of the conversations.</li>
            <li>Your messages can only be read by you and the members of the room.</li>
            <li>Your messages are not stored in plain text in our database.</li>
            <li>Ensure the confidentiality and privacy of your discussions.</li>
            <li>Do not share sensitive personal information.</li>
            <li>The site is not responsible for your messages and actions.</li>
        </ul>
        <hr>
                <p class="mb-0">Please proceed with the chat responsibly.</p>

    </div>
    </div>


{% endblock %}
